.move-history {
    display: flex;
    flex-direction: column;
    background-color: $pg-grey;
    width: 100%;
    height: 60vh;
  }
  .move-history h2 {
    text-align: center;
  }
  .move-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }