.app-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
  }       
  .chess-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
  }
  
  .utility-container {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }