.navbar {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    margin: 0 ;
    background-color: $pg-dark-grey;
    top: 0;
    height: 10vh;
    width: 80vw;
    .MuiSelect-icon {
      color: white;
    }
    .MuiSelect-nativeInput{
      border-color: white ;
      color: white;
    }
    .selections{
      display: flex;
    }
  }
  .MuiMenu-list{
    color: white;
    background-color: $pg-grey;
  }
  .MuiAvatar-colorDefault{
    background-color: $pg-black !important;
    &:hover{
      background-color: $pg-pink !important;
    }
  }
.nav-full {
  width: 100vw;
  justify-content: space-between;
  h1{
    margin-left: 5%;
  }
  div{
    margin-right: 5%;
  }
}