.navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0 ;
    background-color:  #2D2D2B;
    top: 0;
    height: 10vh;
    width: 70vw;
  }