#treeWrapper{
    width: 90vw;
    height: 60vw;
    background-color: $pg-grey;
}
.node__root > circle {
    fill: $pg-pink;
  }
  
  .node__branch > circle {
    fill: $pg-chessboard-black;
  }
  
  .node__leaf > circle {
    fill: $pg-chessboard-brown;
    /* Let's also make the radius of leaf nodes larger */
  }
  .rd3t-label__title{
      stroke: white !important;
      fill: white;
  }