
.data-visualization{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $pg-grey;
    width: 100%;
    height: 40vh;
  }
  h2{
      margin: 1rem auto;
  }
  .avaliable-moves{
    display: flex;
    width: 89%;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .avaliable-moves li {
    margin: 5%;
  }
  .node{
    display: flex;
    flex-direction: row;
  }