.app-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}       
.chess-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 96vh;
  align-items: center;
  justify-content: center;
}
.chessboard-container{
  width: 60%;
}

.utility-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.move-history {
  display: flex;
  flex-direction: column;
  background-color: #3d3d3b;
  width: 100%;
  height: 60vh;
}
.move-history h2 {
  text-align: center;
}
.move-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.data-visualization{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3d3d3b;
  width: 100%;
  height: 40vh;
}
.avaliable-moves{
  display: flex;
  width: 89%;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.avaliable-moves li {
  margin: 5%;
}
.node{
  display: flex;
  flex-direction: row;
}
.modal {
  display: none;
  position: fixed;
  margin-left: 25%;
  margin-bottom: 25%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.25);
}
.close{
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}
.modal-content {
  background-color: #3d3d3b;
  position: absolute;
}
.modal-text {
  display: flex;
  height: 20vh;
  width: 20vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.button {
  background-color: #2D2D2B;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.navbar {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0 ;
  background-color:  #2D2D2B;
  top: 0;
  width: 70vw;
}